.title-usuario {
    color: rgba(247, 88, 88, 0.897);
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
body {
    background-color: #2F3640;
}
.color-datos {
     color: rgba(247, 88, 88, 0.897);
}
.name {
    padding-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;

}
